.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    // .fade-in-and-move {
    //     opacity: 1;
    //     animation:
    //         fade-in-kf 3s ease-in 200ms forwards,
    //         shift-up-kf 1s ease-in 3.2s forwards;
    // }

    // @keyframes fade-in-kf {
    //     from {
    //         opacity: 0;
    //     }

    //     to {
    //         opacity: 1;
    //     }
    // }

    // @keyframes shift-up-kf {
    //     from {
    //         transform: translateY(0);
    //     }

    //     to {
    //         transform: translateY(-0vh);
    //     }
    // }
}